
*$py.class
app.db
.apt_generated/
.autotools
*.bak
bin/
build/
.buildpath
.cache
.cache-main
celerybeat.pid
celerybeat-schedule
.classpath
*.cover
cover/
.coverage
.coverage.*
coverage.xml
.cproject
cython_debug/config_customization.py
db.sqlite3
db.sqlite3-journal
develop-eggs/
dist/
.dmypy.json
dmypy.json
docs/_build/
downloads/
*.egg
*.egg-info/
.eggs/
eggs/
.env
frontend/env/
ENV/
env.bak/
.externalToolBuilders/
.factorypath
htmlcov/
.hypothesis/
.idea
.idea/
*.iml
.installed.cfg
instance/
.ipynb_checkpoints
ipython_config.py
*.launch
lib/
lib64/
.loadpath
local.properties
local_settings.py
*.log
*.manifest
MANIFEST
.metadata
*.mo
.mypy_cache/
*~.nib
nosetests.xml
.nox/
parts/
pip-delete-this-directory.txt
pip-log.txt
*.pot
profile_default/
.project
.pybuilder/
__pycache__/
*.py[cod]
*.py,cover
*.pydevproject
__pypackages__/
.pyre/
.pytest_cache/
.Python
.pytype/
.recommenders
.recommenders/
.ropeproject
*.sage.py
.scala_dependencies
.scrapy
sdist/
.settings/
share/python-wheels/
/site
*.so
*.spec
.springBeans
.spyderproject
.spyproject
*.swp
.target
target/
.tern-project
test.py
.texlipse
*.tmp
tmp/
.tox/
var/
.venv
venv/
venv.bak/
.webassets-cache
wheels/
.worksheet
