<!--org.ops4j.pax.logging.logback.config.file = ${karaf.etc}/logback.xml-->

<configuration>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="ch.qos.logback.classic.layout.TTLLLayout"/>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>${karaf.log.console:-OFF}</level>
        </filter>
    </appender>

    <appender name="OSGI" class="org.ops4j.pax.logging.logback.internal.bridges.PaxAppenderDelegate">
        <paxname>*</paxname>

    </appender>

    <logger name="msg.trace" level="info" additivity="false">
        <appender-ref ref="console"/>
    </logger>

    <root level="info">
        <appender-ref ref="console"/>
        <appender-ref ref="OSGI"/>
    </root>
</configuration>